{% extends "base.html" %}

{% block title %}UnconfRS{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {%- if permissions.contains(&Permission::from("superuser")) -%}
        <div>
            <h2>Edit Landing Page Content</h2>

            <form action="/api/v1/index/markdown" method="POST">
                <div>
                    <label for="markdown">Markdown Content:</label>
                    <div>
                        <textarea id="markdown" name="markdown" rows="20" cols="80" placeholder="Enter markdown content...">
                            {%- if let Some(md) = markdown -%}
                                {{ md }}
                            {%- endif -%}
                        </textarea>
                    </div>
                </div>

                <div>
                    <button type="submit">Update Content</button>
                </div>
            </form>

            {%- if let Some(html) = markdown_converted_to_html -%}
                <div>
                    <h3>Current Preview:</h3>
                    <div>
                        {{ html|safe }}
                    </div>
                </div>
            {%- endif -%}
        </div>
    {%- else -%}
        {%- if let Some(html) = markdown_converted_to_html -%}
            {{ html|safe }}
        {%- endif -%}
    {%- endif -%}
{% endblock %}
