{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Login</h2>
                        <form id="login">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required/>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required/>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="/registration" class="btn btn-outline-secondary">Register New User</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    document.getElementById('login').addEventListener('submit', (e) => {
        e.preventDefault();
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        fetch('/api/v1/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        })
        .then(response => response)
        .then(data => {
            if (data.ok) {
                alert('Login successful');
                localStorage.setItem('admin', true);
                location.href = "/sessions";
            } else {
                alert('Invalid login');
            }
        });
    });
</script>
{% endblock %}
