<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/">UnconfRS</a>
        </div>
        <ul class="nav-links">
            <li>
                <a class="active" href="/">Home</a>
            </li>
            <li>
                <a href="/sessions">Sessions</a>
            </li>
            <li>
                <a href="/unconf_schedule">Schedule</a>
            </li>
            {% if permissions.contains(&Permission::from("superuser")) %}
            <li>
                <a href="/config">Config</a>
            </li>
            {% endif %}
            <li>
            {% if is_authenticated %}
                <a id="logout" href="#">Logout</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
            </li>
        </ul>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>