{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}
    <form id="adminLogin" style="margin-top: 10px">
        <div class="form-field">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required/>
        </div>
        <button type="submit">Submit</button>
    </form>
<script>
    document.getElementById('adminLogin').addEventListener('submit', (e) => {
        e.preventDefault();
        const password = document.getElementById('password').value;
        fetch('/api/v1/admin_login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ password })
        })
        .then(response => response)
        .then(data => {
            if (data.ok) {
                alert('Login successful');
            } else {
                alert('Invalid login');
            }
        });
    });
</script>
{% endblock %}
