{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form id="login" style="margin-top: 10px">
        <div class="form-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required/>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required/>
        </div>
        <button type="submit">Submit</button>
    </form>
<script>
    document.getElementById('login').addEventListener('submit', (e) => {
        e.preventDefault();
        const password = document.getElementById('password').value;
        const username = document.getElementById('username').value;
        fetch('/api/v1/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
        .then(response => response)
        .then(data => {
            if (data.ok) {
                alert('Login successful');
                localStorage.setItem('admin', true);
            } else {
                alert('Invalid login');
            }
        });
    });
</script>
{% endblock %}
