{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form id="login" style="margin-top: 10px">
        <div class="form-field">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required/>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required/>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/registration" id="registration"><button type="button">Register New User</button></a><br/>
<script>
    document.getElementById('login').addEventListener('submit', (e) => {
        e.preventDefault();
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        fetch('/api/v1/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        })
        .then(response => response)
        .then(data => {
            if (data.ok) {
                alert('Login successful');
                localStorage.setItem('admin', true);
                location.href = "/sessions";
            } else {
                alert('Invalid login');
            }
        });
    });
</script>
{% endblock %}
