<head>
    <link rel="stylesheet" href="../styles/nav.css">
</head>
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/">MVP</a>
        </div>
        <ul class="nav-links">
            <li>
                <a class="active" href="/">Home</a>
            </li>
            <li>
                <a href="/topics">Topics</a>
            </li>
            <li>
                <a href="/schedules">Schedules</a>
            </li>
        </ul>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
<script>
const mobileMenu = document.getElementById('mobile-menu');
const navLinks = document.querySelector('.nav-links');
mobileMenu.addEventListener('click', () => {
    navLinks.classList.toggle('nav-active');
});
</script>
