<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/">UnconfRS</a>
        </div>
        <ul class="nav-links">
            <li>
                <a class="active" href="/">Home</a>
            </li>
            <li>
                <a href="/topics">Topics</a>
            </li>
            <li>
                <a href="/unconf_schedule">Schedule</a>
            </li>
        </ul>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>