{% extends "base.html" %}

    {% block title %}MVP{% endblock %}

    {% block head %}
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.5/r-3.0.3/sl-2.0.5/datatables.min.css" rel="stylesheet">
    <style>
        table.dataTable thead th {
            text-align: center !important;
        }

        table.dataTable td {
            text-align: center !important;
        }

        dt, dd {
            text-align: left;
            margin-inline-start: 0;
        }

        /* Common styles for all action buttons */
        .btn-action {
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 2px;
            cursor: pointer;
            border-radius: 3px;
        }

        /* Specific styles for each button type */
        .upvote-btn {
            background-color: #4CAF50; /* Green */
        }

        .edit-btn {
            background-color: #008CBA; /* Blue */
        }

        .del-btn {
            background-color: #f44336; /* Red */
        }

        /* Hover effects */
        .btn-action:hover {
            opacity: 0.8;
        }

        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #f9f9f9;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 10px rgba(0,0,0,0.2);
            z-index: 1000;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 999;
        }

    </style>
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.5/r-3.0.3/sl-2.0.5/datatables.min.js"></script>
    <script>
    {% include "scripts/topics.js" %}
    </script>

    {% endblock %}

    {% block content %}
    <h1>Submit a Topic</h1>
    <button id="add-topic">Submit a Topic</button>
    <h1>Topics</h1>
    <div class="grid-container-element" style="width:95vw">
        <div class="grid-child-element">
            <table class="topicsTable cell-border">
                <thead>
                    <tr>
                        <th></th>
                        <th>Topic ID</th>
                        <th>Title</th>
                        <th>Speaker Name</th>
                        <th>Speaker Email</th>
                        <th>Speaker Phone Number</th>
                        <th>Delete Topic</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic_and_speaker in topics %}
                        <tr data-topic-id={{ topic_and_speaker.topic.id.unwrap() }}>
                            <td>
                            </td>
                            <td>
                                {{ topic_and_speaker.topic.id.unwrap() }}
                            </td>
                            <td>
                                {{ topic_and_speaker.topic.title }}
                            </td>
                            <td>
                                {{ topic_and_speaker.speaker.name }}
                            </td>
                            <td>
                                {{ topic_and_speaker.speaker.email }}
                            <td>
                                {{ topic_and_speaker.speaker.phone_number }}
                            </td>
                            <td>
                            </td>
                            <td>
                                {{ topic_and_speaker.topic.content }}
                            </td>
                            <td>
                                {{ topic_and_speaker.speaker.speaker_id.unwrap() }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup">
        <h2>Topic</h2>
        <form id="topicForm">
            {% include "snippets/topic_form_fields.html" %}
            <button type="submit">Save</button>
            <button type="button" id="cancelButton">Cancel</button>
        </form>
    </div>
    {% endblock %}
