<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MVP</title>
        <script>
            async function generate(event) {
                event.preventDefault(); // Prevent the default form submission

                const generate_schedule = await fetch('/api/v1/schedules/generate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });
                //.then(response => response.json());
                //.catch(error => console.error('Error:', error));
                const parsed_schedule = await generate_schedule.json(); //JSON.parse(generate_schedule);
            }
        </script>
    </head>
    <body>
        <h1>Schedule</h1>
        <ul>
            {% if let Some(value) = schedule %}
                <li>{{ value|fmt("{:?}") }}</li>
            {% else %}
                <form id="generateScheduleForm" onSubmit="generate(event)">
                    <button type="submit">Generate Schedule</button>
                </form>
            {% endif %}
        </ul>
    </body>
</html>
