{% if permissions.contains(&Permission::from("superuser")) || permissions.contains(&Permission::from("staff")) %}
    <div class="form-field">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div class="form-field">
        <label for="sessionContent">Content:</label>
        <textarea id="sessionContent" name="sessionContent" required></textarea>
    </div>
    <div class="form-field">
        <label for="tagSelect">Tag (optional):</label>
        <select id="tagSelect" name="tagSelect">
            <option value="">No tag</option>
            {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.tag_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-field">
        <label for="onBehalfOfUserCheckbox">Add session on behalf of another user:</label>
        <input type="checkbox" id="onBehalfOfUserCheckbox" name="onBehalfOfUserCheckbox">
    </div>
    <div class="form-field" id=emailField>
        <label for="email">Email of the user:</label>
        <input type="email" id="email" name="email">
    </div>
{% else %}
    <div class="form-field">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div class="form-field">
        <label for="sessionContent">Content:</label>
        <textarea id="sessionContent" name="sessionContent" required></textarea>
    </div>
    <div class="form-field">
        <label for="tagSelect">Tag (optional):</label>
        <select id="tagSelect" name="tagSelect">
            <option value="">No tag</option>
            {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.tag_name }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}
